.Order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid dimgray;
    align-items: center;
}
.list-order {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-order li {
    margin-bottom: 5px;
}
.delete-order {
    padding: 2px;
    border: 1px solid #000;
    border-radius: 6px;
    background: #a1ff83;
    color: #a245ff;
}
.delete-order:hover {
    cursor: pointer;
}