.Dish {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid dimgray;
    justify-content: space-between;
}
.img {
    width: 120px;
    height: auto;
}
.dish-name {
    font-size: 16px;
    font-weight: 400;
}
.price {
    font-weight: bold;
    margin-right: 70px;
}
.CD {
    margin-right: 70px;
}
.box-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.box-2 {
    display: flex;
    flex-direction: row;
}
.delete {
    margin-right: 20px;
}
.delete:hover {
    cursor: pointer;
}
.CD:hover {
    cursor: pointer;
}