.between-block {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 15px;
    align-items: center;
}
.title {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}
.btn-dishes {
    height: 40px;
    padding: 0 25px;
    background: transparent;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}
.btn-dishes:hover {
    background: dimgray;
    color: #fff;
    cursor: pointer;
}