.form-btn{
    display: block;
    margin: 30px auto 0;
    height: 40px;
    padding: 0 25px;
    background: transparent;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}
.form-btn:hover {
    background: dimgray;
    color: #fff;
    cursor: pointer;
}
.Input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.Input:focus {
    outline: none;
    background-color: #ccc;
}