
.container {
    max-width: 1000px;
    margin: 5px auto 0;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #000;
    margin-bottom: 15px;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list li {
    display: inline-block;
    margin-left: 20px;
}
.list li:first-child {
    padding-right: 20px;
    border-right: 2px solid #000;
}
.logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}